<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
	metadata-complete="false" version="6.0">
	<!-- see https://jakarta.ee/xml/ns/jakartaee/#10 -->

	<!-- GLOBAL CONFIGURATION PARAMETERS -->
	<context-param>
		<description>How many threads do async servlets have</description>
		<param-name>__ASYNC_THREAD_COUNT</param-name>
		<param-value>2</param-value>
	</context-param>
	<context-param>
		<description>How many milliseconds to wait for async request before timing out</description>
		<param-name>__REQUEST_TIMEOUT_MS</param-name>
		<param-value>2001</param-value>
	</context-param>
	<context-param>
		<description>How many seconds to wait for async requests to finish in shutdown</description>
		<param-name>__SHUTDOWN_TIMEOUT_SEC</param-name>
		<param-value>1</param-value>
	</context-param>

	<!-- EXAMPLE SERVLETS -->
	<servlet>
		<servlet-name>Hello</servlet-name>
		<servlet-class>cat.calidos.boilerplate.webapp.HelloWorldServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Hello</servlet-name>
		<url-pattern>/hello/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ThreadAsyncHello</servlet-name>
		<servlet-class>cat.calidos.boilerplate.webapp.ThreadAsnycServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
		<async-supported>true</async-supported>
	</servlet>
	<servlet-mapping>
		<servlet-name>ThreadAsyncHello</servlet-name>
		<url-pattern>/async-hello/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>VirtualThreadHello</servlet-name>
		<servlet-class>cat.calidos.boilerplate.webapp.VirtualThreadAsyncServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
		<async-supported>true</async-supported>
	</servlet>
	<servlet-mapping>
		<servlet-name>VirtualThreadHello</servlet-name>
		<url-pattern>/vt-hello/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Save</servlet-name>
		<servlet-class>cat.calidos.boilerplate.webapp.PostSaveServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
		<init-param>
			<description>Path prefix to save files, ends with slash</description>
			<param-name>__SAVE_PREFIX</param-name>
			<param-value>./</param-value>
		</init-param>
		<init-param>
		<description>Save filename, does not start with slash</description>
		<param-name>__SAVE_FILENAME</param-name>
		<param-value>foo.txt</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>Save</servlet-name>
		<url-pattern>/save/*</url-pattern>
	</servlet-mapping>

	<!-- REQUEST FILTER EXAMPLE -->
	<filter>
		<filter-name>LoginFilter</filter-name>
		<filter-class>cat.calidos.boilerplate.webapp.LoginFilter</filter-class>
		<init-param>
			<param-name>__AUTH_CREDS</param-name>
			<param-value>configure:me</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<servlet-name>HelloAuth</servlet-name>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
		<servlet>
		<servlet-name>HelloAuth</servlet-name>
		<servlet-class>cat.calidos.boilerplate.webapp.HelloWorldServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>HelloAuth</servlet-name>
		<url-pattern>/hello-auth/*</url-pattern>
	</servlet-mapping>
	

</web-app>